.user-card {
    display: flex;
    align-items: center;
    margin-bottom: .6rem;
    padding: .4rem .6rem;
    border-radius: 1rem;
    cursor: pointer;


}

.user-card:hover {
    background-color: var(--secondary-bg-color);
}

.user-card.active {
    background-color: var(--primary-color);
    color: white;
    box-shadow: 0 4px 8px rgba(92, 184, 92, 0.2);
}

.user-image {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.user-name {
    font-weight: 500;
}