.dashboard {
    flex-grow: 1;
    padding: 1rem;
    padding-left: 0;
}

.dashboard-header {
    margin-bottom: 2rem;
}

.dashboard-content-first {
    display: grid;
    grid-template-columns: 1fr 1fr 1.6fr;
    gap: 1rem;
}

.dashboard-content-second {
    display: grid;
    grid-template-columns: 1fr 1.7fr;
    gap: 1rem;
    margin-top: 1rem;
}



/* Responsive code */

/* small*/
@media (max-width: 600px) {
    .dashboard-content-first {
        margin-left: 1rem;
        grid-template-columns: 1fr 1fr;
    }

    .dashboard-content-first .insight-card {
        grid-column: 1 / span 2;
    }

    .dashboard-content-second {
        margin-left: 1rem;
        grid-template-columns: 1fr;
    }

}

/* medium */
@media (min-width: 601px) and (max-width: 900px) {
    .app {
        .dashboard-content-first {
            margin-left: 1rem;
            grid-template-columns: 1fr 1fr;
        }

        .dashboard-content-first .insight-card {
            grid-column: 1 / span 2;
        }

        .dashboard-content-second {
            margin-left: 1rem;
            grid-template-columns: 1fr;
        }
    }
}