.insight-card {
    background-color: var(--primary-bg-color);
    border-radius: 1rem;
    padding: 1.6rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 0.5px solid var(--secondary-bg-color);
    display: flex;
    flex-direction: column;
}



.insight-card-header {
    margin-bottom: 0.5rem;
}

.insight-card-header h3 {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    color: var(--secondary-text-color);
}

.insights-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    max-height: 90%;
    scroll-behavior: smooth;
}

.insight {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    flex: 0 0 100%;
    min-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.No-insight {
    font-size: 1.3rem;
    text-align: center;
    margin: auto;
}


/* Responsive code */

/* small*/
@media (max-width: 600px) {
    .app {}
}

/* medium */
@media (min-width: 601px) and (max-width: 900px) {
    .app {}
}

/* big */
@media (min-width: 901px) {
    .app {}
}