.app {
    display: flex;
    height: 100vh;
    overflow-x: hidden;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader {
    margin: auto;
    animation: spin 1s linear infinite;
}

.error {
    margin: auto;
    font-size: 2rem;
}

.github {
    background-color: var(--secondary-bg-color);
    position: absolute;
    height: 2.5rem;
    /* width: 2.5rem; */
    padding: 0 .5rem;
    bottom: 40px;
    left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.4rem;
    border: solid 1px var(--primary-color);
    cursor: pointer;
    color: var(--primary-color);
}

.github .myname {
    display: none;
    text-decoration: none;
}

.github:hover {
    background-color: var(--primary-color);
    color: var(--secondary-bg-color);
}

.github:hover .myname {
    display: block;
    margin-left: .2rem;
    text-decoration: none;
}

/* ====== Responsive============ */

/* small*/
@media (max-width: 600px) {
    .app {
        flex-direction: column;
    }
}